@model SalaoBeleza.ViewModels.calendarAuxViewModel

@{
    string auxHorario = "teste";
    string auxNomeUsuario = "teste";
    int auxAlturaCalendario = 260;
}


<!DOCTYPE html>
<html>
<head>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
</head>
<body>

    <div id="containerDivCalendar" style="display:flex; flex-direction:row; width: 100%">
        @if (Model.funcionarios == null)
                    {
                        auxAlturaCalendario = 300;
            <div>Nenhum registro foi encontrado para essa data.</div>
                    }
                    else
                    {
            <div class="calendar-colune-branca calendario-coluna-horario">
                <div class="calendar-nome-pessoa-calendar">
                </div>
                @foreach (var item in Model.itensCalendario)
                            {
                                //verifica se o horario mudou, caso sim, adiciona uma nova div.
                                if (item.strHorario != auxHorario)
                                {
                                    auxHorario = item.strHorario;
                                    auxAlturaCalendario = auxAlturaCalendario + 35;
                        <div class="calendar-coluna-horario">
                            <div>@item.strHorario</div>

                        </div>
                                }
                            }
            </div>
                        foreach (var item in Model.funcionarios)
                        {
                            var auxCalendario = Model.itensCalendario.Where(c => c.nomeUsuario == item.Name);
                            auxNomeUsuario = item.Name;

            <div class="calendar-colune-branca">
                <div class="calendar-nome-pessoa-calendar">
                    @item.Name
                </div>
                @foreach (var calendarioPorUser in auxCalendario)
                                {
                                    if (calendarioPorUser.blnAgendado)
                                    {
                        <div class="calendar-coluna-horario calendar-coluna@(item.Id)">@calendarioPorUser.descricao</div>
                                    }
                                    else
                                    {
                        <div class="calendar-coluna-horario"></div>
                                    }

                                }
            </div>
                        }
                    }

    </div>

</body>

</html>

@*@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")*@

<script>
    $(document).ready(function() {
        $("#containerDivCalendar").css('height', @auxAlturaCalendario);
    });
</script>


