@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HOME</h1>
    <p class="lead">Aqui você vizualiza todas as funcionalidades disponíveis.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Clientes</h2>
        <p>
            Aqui você pode visualizar, cadastrar, editar e deletar os cadastros dos clientes.
        </p>
        <p>@Html.ActionLink("CLIENTES", "Index", "Customers", null, new { @class = "btn btn-primary btn-lg" })</p>
    </div>
    <div class="col-md-4">
        <h2>Usuários internos</h2>
        <p>
            Aqui você pode visualizar, cadastrar, editar e deletar os cadastros dos usuarios internos do sistema.
        </p>
        <p>@Html.ActionLink("USUÁRIOS INTERNOS", "List", "Account", null, new { @class = "btn btn-primary btn-lg" })</p>
    </div>
    <div class="col-md-4">
        <h2>Agendamentos</h2>
        <p>
            Aqui você pode visualizar, cadastrar, editar e deletar os agendamentos realizados.
        </p>
        <p>@Html.ActionLink("AGENDAMENTOS", "Index", "Bookings",null, new { @class = "btn btn-primary btn-lg" })</p>
    </div>
</div>